.tableContainer{
  margin: 5% 5%;
}

.row{
  display: flex;
  flex-wrap: wrap;

  .rowTitle{
    flex: 1 0 10px;
    margin-left: 1%;
  }

  hr{
    flex-basis: 1%;
  }

  .search{
    flex: 3 0 30px;
    position: relative;
  }

  .searchIcon{
    position: absolute;
    top: 25px;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3%;
    color: grey;
  }
  
  .inputRoot{
    color: black;
  }

  .inputInput{
    margin: 0;
    margin-top: 25px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    padding-left: 15%;
    width: 80%;
    border-style: solid;
    border: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline-color: $darkGreen;
  }
}

#table {
  border-collapse: collapse;
  width: 100%;
  display: table;
}

#table td, #table th {
  padding: 15px;
  vertical-align: middle;
}

#table tr:nth-child(even){background-color: #f7f7f7;}

#table tbody tr:hover{
  background-color: $hoverColor;
}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  border: none;
  border-bottom: 1px solid black;;
}